<div id="marca">
    <label for="marca">Marca:</label>
    <input type="text" name="marca" [(ngModel)]="marca" />
</div>
<div id="modelo">
    <label for="modelo">Modelo:</label>
    <input type="text" name="modelo" [(ngModel)]="modelo" />
</div>
<div id="cor">
    <label for="cor">Cor:</label>
    <input type="text" name="cor" [(ngModel)]="cor" />
</div>
<div id="combustivel">
    <label for="combustivel">Combustivel:</label>
    <input type="text" name="combustivel" [(ngModel)]="combustivel" />
</div>
<button (click)="cadastrar()">Cadastrar</button>
